.certificate {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ece9e5;
    display: flex;
    justify-content: center;
    background-image: url("./img/education.png");
    background-size: cover;
    height: 400px;
  }
  .certificatetitle {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  .certificatetext {
    font-family: "Lato", sans-serif;
    line-height: 2;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .certificateinfo {
    margin: 35px 0 0 665px;
  }
  .button3 {
    width: 260px;
    height: 60px;
    background-color: #ba271f;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 21px;
  }