.courses {
    text-align: center;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    color: #3e3e3e;
    line-height: 0.8;
    font-weight: 400;
    padding-bottom: 25px;
  }
  .courses-img {
    padding: 25px 25px 25px 0;
    width: 225px;
    height: 230px;
  }
  .courseh {
    font-size: 45px;
    padding: 50px 0 25px 0;
    font-weight: 400;
  }
  .coursep {
    font-size: 25px;
    padding-bottom: 50px;
  }
  .other-course {
    width: 540px;
    display: flex;
    background-color: #e8e8e8;
    align-items: center;
    margin: 0 30px 20px 0;
  }
  .course-header {
    font-size: 25px;
  }
  .course-text {
    margin: 0 20px;
    line-height: 1.5;
    height: 275px;
  }
  .course-description {
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
    line-height: 2;
  }
  .button2 {
    width: 160px;
    height: 30px;
    background-color: #ba271f;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 9px;
    margin: 23px 0 0 60px;
  }
  .readmore {
    text-decoration: none;
    color: #fa3a5e;
    justify-content: left;
    margin-right: 155px;
  }
  .generalbox-courses {
    display: flex;
    justify-content: center;
  }