.footer {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #a99473;
    width: 100%;
    color: #f3f3f3;
  }
  .footertitle {
    font-size: 60px;
    padding-top: 35px;
    font-weight: 400;
  }
  .footertext {
    font-size: 25px;
    padding-bottom: 25px;
  }
  .footer-name,
  .footer-email {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-left: 35px;
    width: 500px;
    height: 60px;
    margin-bottom: 40px;
    border: none;
    border-radius: 2px;
    margin-left: 60px;
  }
  .myname, .firmname {
    color: #ba271f; 
    font-weight: 600
  }
  .button4 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: 155px;
    height: 60px;
    background-color: #ba271f;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 60px;
    margin-bottom: 100px;
  }
  .footerinf {
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 400;
    margin-left: 40px;
  }
  .footer-social {
    margin: 30px 0 0 80px;
  }
  .footer-social2 {
    margin: 5px 0 0 80px;
    padding-bottom: 20px;
  }
  .soical {
    margin-right: 45px;
  }
  .soical:last-child {
    margin-right: 0;
  }