.header {
  background-image: linear-gradient(
      to right,
      rgba(206, 149, 92, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    url("./img/apple-256263_1920.png");
  background-size: cover;
  width: 100%;
  height: 800px;
  text-align: center;
  color: white;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.logo {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 52px;
  color: white;
  padding-right: 80px;
}
.navigation {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
  padding-right: 70px;
}
.navigation:last-child {
  padding-right: 0;
}
.navigation:after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 12px;
  transition: opacity 0.2s linear;
}
.navigation:hover:after {
  opacity: 1;
}
.firsth {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 0 70px 70px 255px;
}
.sub_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-left: 170px;
}
.email,
.password {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-left: 20px;
  width: 350px;
  height: 60px;
  margin-bottom: 40px;
  border: none;
  border-radius: 2px;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  width: 370px;
  height: 60px;
  background-color: #ba271f;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  border-style: solid;
  cursor: pointer;
}
.form {
  margin: 50px 0 0 600px;
}