.parthners {
    background-color: #fffcf4;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .parthnerstitle {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    padding: 40px 0;
    font-weight: 400;
  }
  .parth {
    margin-right: 30px;
  }
  .allparthners {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parthner-name {
    font-size: 25px;
    margin: 25px 0 50px 0;
  }
  .harvard {
      color: red;
  }
  .case {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: solid 3px;
    border-color: #ba281f;
    border-radius: 100%;
    margin-right: 40px;
    margin-bottom: 120px;
  }
  i {
    border: solid #ba281f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-left: 8px;
  }
  .left {
    transform: rotate(135deg);
  }
  .right {
    transform: rotate(-45deg);
    margin-right: 18px;
  }