.perevagi {
    text-align: center;
    background-color: #fffcf4;
  }
  .perevagi-heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 45px;
    padding: 45px 0 40px 0;
  }
  .perevagi-logo {
    padding-bottom: 100px;
  }
  .firsttwoperevaga {
    margin-right: 165px;
  }
  .lasttwoperevaga {
    margin-left: 165px;
  }
  .perevagi-span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 25px;
  }
  .perevagi-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
  .perevagi-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .perevaga-box {
    line-height: 1;
    margin-bottom: 70px;
    margin-top: 20px
  }