.team {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }
  .developers {
    text-align: center;
    background-color: #fffcf4;
    padding-bottom: 40px;
  }
  .team-name {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
  }
  .team-info {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 1.5;
  }
  .social {
    margin-right: 15px;
  }
  .personalcard {
    margin-right: 30px;
  }
  .developerstitle {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    padding: 40px 0;
    font-weight: 400;
  }